extends layout

block content
    div(class="cat-form-container cat-delete")
        h2(class="form-head") #{category.name}
        if npcs.length > 0
            p(class="cat-msg warning") You must delete the following NPCs before deleting this category.
            ul(class="cat-update-npc-list") 
                for npc in npcs
                    li(class="cat-update-npc-item")
                        a(href=npc.url) #{npc.name}
        else 
            form(method='POST' action='' class="cat-form")
                div.form-group
                    label Are you sure you want to delete this category?
                    input#catid.form-control(type='hidden',name='catid', required='true', value=category._id )
                    button.btn.btn-primary(type='submit') Confirm

        div(class="return-to-cat")  
            a(href=category.url) Return to #{category.name}