extends layout

block content
    section(class="cat-page")
        if npc_list
            ul(class="npc-list")
                for npc in npc_list
                    li(class="npc-item")
                        div 
                            a(href=npc.url) #{npc.name}
                        div #{npc.desc}
                        div #{npc.category.name}
                        div #{npc.loc}
                        div #{npc.quote}
                        div #{npc.notes}
        div
            a(href="/npc/cat/" + category._id + "/delete") Delete Category

