extends layout

block content
  section(class="npc-main")
    ul(class="npc-list")
      for npc in npc_list
        li(class="npc-item")
          div(class="npc-name") 
            a(href=npc.url) #{npc.name}
          div #{npc.desc}
          div #{npc.category.name}
          div #{npc.loc}
          div "#{npc.quote}"
          div #{npc.notes}
          
          



