extends layout

block content
  section(class="npc-detail")
    div #{npc.desc}
    div 
      a(href=npc.category.url) #{npc.category.name}
    div(class="location-container")
        h3 Location
        div #{npc.loc}
    div "#{npc.quote}"
    div #{npc.notes}
    div
      a(href="/npc/" + npc._id + "/delete") Delete NPC
    div
      a(href="/npc/" + npc._id + "/update") Update NPC
  