extends layout

block content
  section(class="npc-detail")
    div #{npc.desc}
    div 
      a(href="/npc" + npc.category.url) #{npc.category.name}
    div(class="location-container")
        h3 Location
        div #{npc.loc}
    div #{npc.quote}
    div #{npc.notes}
  